@import url(../about/__subtitle/about__subtitle.css);
@import url(../about/__title/about__title.css);
@import url(../about/__wrapper/about__wrapper.css);
@import url(../about/__text/about__text.css);
@import url(../about/__content/about__content.css);
@import url(../about/__column-content/about__column-content.css);
@import url(../about/__link/about__link.css);
.about {
  display: flex;
  flex-direction: column;
  width: 335px;
  margin: 0 auto;
}

@media (width >= 768px) {
  .about {
    width: 728px;
  }
}

@media (width >= 1200px) {
  .about {
    width: 1030px;
  }
}
@media (width >= 1400px) {
  .about {
    width: 1161px;
  }
}

@media (width >= 1900px) {
  .about {
    width: 1564px;
  }
}
