.about__title {
  width: 335px;
  height: 44px;
  margin-bottom: 30px;
  font-family: "Loos Wide";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #1b1b1c;
}

@media (width >= 768px) {
  .about__title {
    padding-right: 210px;
    width: 508px;
    height: 48px;
    font-size: 24px;
  }
}

@media (width >= 1200px) {
  .about__title {
    padding-right: 128px;
    width: 508px;
    height: 60px;
    font-size: 30px;
    margin-bottom: 50px;
  }
}

@media (width >= 1400px) {
  .about__title {
    width: 500px;
    height: 68px;
    font-size: 34px;
    line-height: 100%;
    padding-right: 70px;
    margin-bottom: 60px;
  }
}

@media (width >= 1900px) {
  .about__title {
    width: 772px;
    height: 88px;
    font-size: 44px;
    line-height: 100%;
    margin-bottom: 80px;
  }
}
