.about__column-content {
  display: grid;
}

@media (width >= 768px) {
  .about__column-content {
    width: 359px;
  }
}

@media (width >= 1200px) {
  .about__column-content {
    width: 507px;
  }
}
@media (width >= 1400px) {
  .about__column-content {
    width: 455px;
  }
}

@media (width >= 1900px) {
  .about__column-content {
    width: 614px;
  }
}
